/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: url('./image/10121793.jpg');
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .image img {
    max-width: 250px;
    position: absolute;
    top: 20px;
    left: 40px;
  }
  
  .time {
    font-size: 200px;
    font-weight: bold;
    color: red;
    padding: 20px;
    /* border: 4px solid red; */
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  button {
    min-width: 100px;
  }
  
